/*
Theme Name: Search Meetup Frankfurt
Theme URI: https://gitlab.com/walterebert/search-meetup-frankfurt
Author: Search Meetup Frankfurt
Author URI: https://searchmeetupfrankfurt.de/
Version: 1.2.4
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Template: twentysixteen
*/

body {background: hsl(35deg, 85.7%, 53.3%);}
.site-logo {display: block;}
@media screen and (min-width: 48.9375em) {
	.site-logo {display: table-cell;}
	.site-title {display: table-cell; margin: 0; padding: 30px 0 0 15px; vertical-align: top;}
}
.site-header {padding-top: 1em; padding-bottom: 3em;}
.site, .widget {color: #555; font-size: 1em;}
.site a {color: #555; box-shadow: none !important; text-decoration: underline; text-decoration-color: hsl(35deg, 85.7%, 53.3%); text-decoration-skip-ink: none;}
.site a:visited {color: #777;}
.site a:hover {text-decoration-color: hsl(35deg, 20%, 70%);}
.site .site-title a{color: #555 !important;}
.site .skip-link, .site-branding .site-title a:focus {color: #555;}
.site .site-title a, .site #menu-navigation a, .site .site-info a {color: #555;}
.widget .widget-title {margin-bottom: 0;}
.site, .entry-title, .widget .widget-title {font-family: Source Sans Pro, Open Sans, Droid Sans, Calibri, Optima-Regular, sans-serif;}
.widget {border: 0; margin-bottom: 2em;}
.pagination .nav-links::after {content: "<"; right: 55px;}
.pagination .nav-links::before {content: ">";   right: -1px;}
.pagination .prev::before {content: "<"; left: -1px;}
.pagination .next::before {content: ">"; right: -1px;}
.search-submit::before {content: ">";}
